@font-face{
  font-family: Pridi;
  src: url(Pridi-Regular.ttf);
}

@font-face{
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

@font-face{
  font-family: Roboto-Bold;
  src: url(Roboto-Bold.ttf);
}

body{
    margin: 0px;
    background-color: #14110f;
    color: #e2dddb;
    font-family: Roboto;
}

b, h1, h2, h3, h4{
  font-family: Roboto-Bold;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #e2dddb;
}


/* NAVBAR CSS */
.navbar{
  padding: 0px 8vw;
  height: 52px;
  background-color: #343434;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.75);
}

.navbar-options-container{
  display: flex;
  align-items: center;
}

.navbar-logo{
  margin: auto 0px;
  font-family: Pridi;
}

.navbar-options-element{
  margin-left: 25px;
  font-size: large;
}

#navbar-search-field-container{
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-field-container-show{
  background-color: #14110F;
}

.search-field-container-show, #search-field-content{
  -webkit-box-shadow: 1px 6px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 6px 9px 0px rgba(0, 0, 0, 0.75);
}

#navbar-search-field{
  width: 391px;
  height: 25px;
  background-color: #14110F;
  color: #CDCDCD;
  padding: 3px 6px;
  margin: 8px;
  border-radius: 3px;
  border: none;
}

#navbar-search-field:focus{
  background-color: #343434;
}

/* 
  search-field-content total width (width + padding) 
  is hard coded relative to navbar-search-container total width
*/

#search-field-content{
  display: none;
  z-index: 1;
  position: absolute;
  width: 391px;
  padding: 5px 14px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #14110F;
}

#search-field-content.active{
  display: flex;
  flex-direction: column;
}

.search-field-content-element{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 6px 8px;
  border-radius: 4px;
}

.search-field-content-element:hover{
  background-color: #343434;
}

.search-element-symbol, .search-element-type{
  width: 50px;
}

.search-element-name, .search-element-type{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-element-name{
  width: 250px;
}


.sign-up-button, .login-button{
  padding: 8px;
  border-radius: 5px;
}

.sign-up-button{
  background-color: #052F5F;
}

.login-button{
  margin-left: 10px;
  border: 1px solid #B0B0B0;
}


/* CONTENT CSS */
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.col-1{
  width: 950px;
  min-width: 750px;
}

.col-2{
  margin-left: 25px;
  width: 275px;
}


/* COL-1 */

/* PROFILE CSS */
.profile-container{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  margin: 5px 0px;
  border-bottom: 2px solid #7F7B82;
}

.profile-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header div:nth-child(1) {
  font-size: 22px;
  color: white;
}

.profile-header div:nth-child(2){
  font-size: 13px;
}

.profile-content-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px 0px 0px;
}

.profile-info-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-price-container{
  display: flex;
  flex-direction: column;
}

.profile-price-container div:first-child{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.profile-price{
  font-size: 30px;
}

.profile-price-change{
  font-size: 20px;
  margin-left: 10px;
}

.green{
  color: #00cc5c;
}

.red{
  color: #f0162f;
}

.profile-info{
  display: flex;
  margin-top: 8px;
}

.profile-info-col{
  width: 50%;
}

.profile-info-col:first-child{
  margin-right: 4%;
}

.profile-info-element{
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0px;
  border-bottom: 1px solid #343434;
}

.profile-info-element div:nth-child(2){
  font-family: Roboto-Bold;
  font-size: 14px;
}

.profile-info-element:last-child{
  border-bottom: none;
}

.profile-chart-container{
  width: 50%;
  margin-left: 15px;
}

.profile-chart-button-container{
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-bottom: 5px;
}

.profile-chart-button{
  margin-left: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.profile-chart-button:first-of-type{
  margin-left: 0px;
}

.profile-chart-button:hover{
  color: #4193c6;
}

.profile-chart-button-active{
  color: #4193c6;
}

#follow-button{
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 3px;
}

#follow-button:hover{
  filter: brightness(125%);
}

.followed{
  border: solid 1px white;
}

.followed:hover{
  background-color: #d42c2c;
  border: none;
}

.not-followed{
  background-color: #052F5F;
}

.not-followed:hover{
  background-color: #00cc5c;
}


/* FILTER CSS */
.filter{
  display: flex;
  padding: 8px;
  align-items: center;
}

.filter-element{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px 0px 5px;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.filter-element:hover, .current-filter{
  background-color: #4d4d4d;
}

.filter-element div{
  padding: 0px 3px;
}


/* ARTICLES CSS */
.article-container:last-child{
  border-bottom: none;
}

.article{
    display: flex;
    flex-direction: row;
    padding: 15px 7px;
    animation: slideIn 0.4s ease-in-out;
    border-bottom: 1px solid #343434;
}

.article:last-child{
  border-bottom: none;
}

.article-img{
  margin-right: 15px;
  width: 200px;
  height: auto;
  max-height: 150px;
  object-fit: contain;
}

.article-published{
  font-size: 11px;
  color: #bdb0a8;
}

.article-title{
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article-description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 15px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@keyframes slideIn {
  from {
    opacity: 0.2;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.button-container{
  margin-top: 15px;
}

a.btn{
  background-color: #052F5F;
  padding: 6px;
  border-radius: 4px;
}

a.btn:nth-child(2){
  margin-left: 8px;
}


/* COL-2 */
table{
  border-collapse: collapse;
}

.followed-container > h3{
  margin: 12px 0px;
}

tr{
  border-bottom: 1px solid #343434;
}

th{
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.7;
}

th, td{
  padding: 8px 0px;
  text-align: right;
}

tr > th:first-child, tr > td:first-child {
  text-align: left;
}

td > a{
  color: #4193c6;
}


/* AUTHENTICATION PAGES */
.auth-content{
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.auth-logo {
  font-size: 48px;
  font-family: Pridi;
  margin-bottom: 50px;
}


.auth-content > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 100px;
  -webkit-box-shadow: 6px 8px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 8px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 8px 12px 0px rgba(0, 0, 0, 0.75);
}

.auth-content, .auth-container > div, .auth-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container > div{
  width: 316px;
  height: 338px;
  justify-content: center;
}

.auth-container > div:first-of-type{
  background-color: #343434;
}

.auth-container > div:nth-of-type(2){
  background-color: #052F5F;
}

.auth-form-container input{
  width: 221px;
  padding: 10px;
  margin-bottom: 12px;
  background-color: #14110F;
  border: none;
  border-radius: 3px;
  color: #7F7B82;
}

.auth-form-container button{
  border: 1px solid #052F5F;
  background-color: #052F5F;
  cursor: pointer;
}

.auth-container > div:nth-of-type(2) h2 {
  text-align: center;
  padding: 0px 20px;
}

.auth-container > div:nth-of-type(2) a {
  border: 1px solid white;
  margin-bottom: 50px;
}

.auth-button{
  padding: 7px 40px;
  border-radius: 15px;
  color: white;
}

.errorlist {
  font-size: 10px;
  color: #d42c2c;
}