body{
    margin: 0px;
    background-color: #14110f;
    color: #e2dddb;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #e2dddb;
}


/* NAVBAR CSS */
.navbar{
  padding: 0px 8vw;
  height: 52px;
  background-color: #343434;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.75);
}

.navbar-options-container{
  display: flex;
  align-items: center;
}

.navbar-title{
  margin: auto 0px;
}

.navbar-options-element{
  margin-left: 25px;
  font-size: large;
}

#navbar-search-field-container{
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-field-container-show{
  background-color: #14110F;
}

.search-field-container-show, #search-field-content{
  -webkit-box-shadow: 1px 6px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 6px 9px 0px rgba(0, 0, 0, 0.75);
}

#navbar-search-field{
  width: 391px;
  height: 25px;
  background-color: #14110F;
  color: #CDCDCD;
  padding: 3px 6px;
  margin: 8px;
  border-radius: 3px;
  border: none;
}

#navbar-search-field:focus{
  background-color: #343434;
}

/* 
  search-field-content total width (width + padding) 
  is hard coded relative to navbar-search-container total width
  TODO need to find a better way
*/

#search-field-content{
  display: none;
  z-index: 1;
  position: absolute;
  width: 391px;
  padding: 5px 14px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #14110F;
}

#search-field-content.active{
  display: flex;
  flex-direction: column;
}

.search-field-content-element{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 6px 8px;
  border-radius: 4px;
}

.search-field-content-element:hover{
  background-color: #343434;
}

.search-element-name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}

.sign-up-button, .login-button{
  padding: 8px;
  border-radius: 5px;
}

.sign-up-button{
  background-color: #052F5F;
}

.login-button{
  margin-left: 10px;
  border: 1px solid #B0B0B0;
}


/* CONTENT CSS */
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-1{
  width: 950px;
  min-width: 750px;
}

.watchlist-container{
  margin-right: 30px;
}


/* PROFILE CSS */
.profile-container{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  margin: 5px 0px;
  border-bottom: 2px solid #7F7B82;
}

.profile-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header div:nth-child(1) {
  font-size: 20px;
}

.profile-header div:nth-child(2){
  font-size: 13px;
}

.profile-content-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px 0px 0px;
}

.profile-info-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-price-container{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.profile-price{
  font-size: 30px;
}

.profile-price-change{
  font-size: 20px;
  margin-left: 10px;
}

.green{
  color: #00cc5c;
}

.red{
  color: #f0162f;
}

.profile-info{
  display: flex;
}

.profile-info-col{
  width: 50%;
}

.profile-info-col:first-child{
  margin-right: 4%;
}

.profile-info-element{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0px;
  border-bottom: 1px solid #343434;
}

.profile-info-element div:nth-child(2){
  font-weight: bold;
}

.profile-info-element:last-child{
  border-bottom: none;
}

.profile-chart-container{
  width: 50%;
  margin-left: 15px;
}

.profile-chart-button-container{
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-bottom: 5px;
}

.profile-chart-button{
  margin-left: 15px;
  cursor: pointer;
  font-weight: bold;
}

.profile-chart-button:first-of-type{
  margin-left: 0px;
}

.profile-chart-button:hover{
  color: #4193c6;
}

.profile-chart-button-active{
  color: #4193c6;
}

.profile-chart{
  width: auto;
  height: auto;
}


/* FILTER CSS */
.filter{
  display: flex;
  padding: 8px;
  align-items: center;
}

.filter-element{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px 0px 5px;
  margin-right: 10px;
  border-radius: 4px;
}

.filter-element:hover, .current-filter{
  background-color: #4d4d4d;
}

.filter-element div{
  padding: 0px 3px;
}


/* ARTICLES CSS */
.article-container:last-child{
  border-bottom: none;
}

.article{
    display: flex;
    flex-direction: row;
    padding: 15px 7px;
    animation: slideIn 0.4s ease-in-out;
    border-bottom: 1px solid #343434;
}

.article:last-child{
  border-bottom: none;
}

.article-img{
  margin-right: 15px;
  width: 200px;
  height: auto;
  max-height: 150px;
  object-fit: contain;
}

.article-published{
  font-size: 11px;
}

.article-title{
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article-description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@keyframes slideIn {
  from {
    opacity: 0.2;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.button-container{
  margin-top: 15px;
}

a.btn{
  background-color: #052F5F;
  padding: 6px;
  border-radius: 4px;
}

a.btn:nth-child(2){
  margin-left: 8px;
}