{% load custom_filters %}
{% block article %}
    <!-- ARTICLES -->
    <div class="article-container">
        {% for article in articles.articles %}
            <a class="article" href="{{ article.url }}" target="_blank">
                <img src="{{ article.urlToImage|default_if_none:'https://static.vecteezy.com/system/resources/thumbnails/000/604/014/small/2304-16.jpg' }}" class="article-img"/>
                <div class="article-content">
                    <!-- time the article is published at. Should be set according to local of time of client -->
                    <div class="article-published">{{ article.source.name }} | {{ article.publishedAt|format|timesince }} ago</div>
                    <h3 class="article-title">{{ article.title }}</h3>
                    <div class="article-description">{{ article.description|striptags }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

