{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ company.Symbol }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="col-1">
            <!-- company profile -->
            <div class="profile-container">
                <div class="profile-header-container">
                    <div>
                        <div>{{ company.Name }}</div>
                        <div>{{ company.Symbol }} &#8226 {{ company.Exchange }}</div>
                    </div>
                    <div id="follow-button">follow</div>
                </div>
                <div class="profile-content-container">
                    <div class="profile-info-container">
                        <div class="profile-price-container">
                            <div class="profile-price">{{ endPoint|get:"05. price"|decimal:3 }}</div>
                            {% if endPoint|get:"09. change"|first == '-' %}
                                <div class="profile-price-change red">{{ endPoint|get:"09. change"|decimal }} ({{ endPoint|get:"10. change percent" }})</div>
                            {% else %}
                                <div class="profile-price-change green">+{{ endPoint|get:"09. change"|decimal }} ({{ endPoint|get:"10. change percent" }})</div>
                            {% endif %}
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-col">
                                <div class="profile-info-element">
                                    <div>Previous close</div>
                                    <div>{{ endPoint|get:"08. previous close"|decimal }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Open</div>
                                    <div>{{ endPoint|get:"02. open"|decimal }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Day's range</div>
                                    <div>{{ endPoint|get:"04. low"|decimal }} - {{ endPoint|get:"03. high"|decimal }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>52 week range</div>
                                    <div>{{ company.52WeekLow|decimal }} - {{ company.52WeekHigh|decimal }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Dividend Yield</div>
                                    <div>{{ company.DividendYield|percentage }}</div>
                                </div>
                            </div>
                            <div class="profile-info-col">
                                <div class="profile-info-element">
                                    <div>Market cap</div>
                                    <div>{{ company.MarketCapitalization|commas }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Volume</div>
                                    <div>{{ endPoint|get:"06. volume"|commas }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>PE Ratio</div>
                                    <div>{{ company.PERatio|decimal }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Forward PE</div>
                                    <div>{{ company.ForwardPE|decimal }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>EPS</div>
                                    <div>{{ company.EPS|decimal }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph">
                    </div>
                </div>
            </div>
            {% include 'Site/article.html' %}
        </div>
        <div class="col-2">
            <div class="watchlist-container"></div>
        </div>
    </div>
{% endblock %}