{% extends 'base.html' %}
{% load static %}

{% block title %}{{ company.Symbol }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="col-1">
            <!-- company profile -->
            <div class="profile-container">
                <div class="profile-header-container">
                    <div>
                        <div>{{ company.Name }}</div>
                        <div>{{ company.Symbol }} &#8226 {{ company.Exchange }}</div>
                    </div>
                    <div id="follow-button">follow</div>
                </div>
                <div class="profile-content-container">
                    <div class="profile-info-container">
                        <div class="profile-price">120$</div>
                        <div class="profile-info">
                            <div class="profile-info-col">
                                <div class="profile-info-element">
                                    <div>market cap</div>
                                    <div>11 million</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>market cap</div>
                                    <div>11 million</div>
                                </div>
                            </div>
                            <div class="profile-info-col">
                                <div class="profile-info-element">
                                    <div>market cap</div>
                                    <div>11 million</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>market cap</div>
                                    <div>11 million</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-graph">
                    </div>
                </div>
            </div>
            {% include 'Site/article.html' %}
        </div>
        <div class="col-2">
            <div class="watchlist-container"></div>
        </div>
    </div>
{% endblock %}