{% extends 'Site/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ company.Symbol }}{% endblock %}

{% block scripts %}
    <script src="{% static 'Site/company.js' %}"></script>
    <script src="{% static 'Site/articles.js' %}"></script>
    <script>
        $("#follow-button").on("click", function(e){
            fetch("{% url 'Site:api-follow' %}",{
                method: "POST",
                credentials: 'include',
                mode: 'same-origin',
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                {% autoescape off %}
                body: JSON.stringify({ symbol: "{{ company.Symbol }}", name: "{{ company.Name }}" })
                {% endautoescape %}
            }).then(resp => {
                if (!resp.ok) {
                    throw Error(resp.statusText);
                }
                return resp;
            }).then(resp => {
                return resp.json();
            }).then(data => {
                if (data['followed']){
                    $('#follow-button').removeClass('not-followed').addClass('followed');
                    $('#follow-button').text("followed");
                } else{
                    $('#follow-button').removeClass('followed').addClass('not-followed');
                    $('#follow-button').text("follow");
                }
            }).catch(err =>{
                console.error(err);
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="col-1">
            <!-- company profile -->
            <div class="profile-container">
                <div class="profile-header-container">
                    <div class="profile-header">
                        <div>{{ company.Name }}</div>
                        <div>{{ company.Symbol }} &#8226 {{ company.Exchange }}</div>
                    </div>
                    {% if user.is_authenticated %}
                        {% if followed %}
                            <div id="follow-button" class="followed">follow</div>
                        {% else %}
                            <div id="follow-button" class="not-followed">follow</div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="profile-content-container">
                    <div class="profile-info-container">
                        <div class="profile-price-container">
                            <div>
                                <div class="profile-price">{{ endPoint|get:"05. price"|decimalLimit:3 }}$</div>
                                {% if endPoint|get:"09. change"|first == '-' %}
                                    <div class="profile-price-change red">{{ endPoint|get:"09. change"|decimalLimit }} ({{ endPoint|get:"10. change percent" }})</div>
                                {% else %}
                                    <div class="profile-price-change green">+{{ endPoint|get:"09. change"|decimalLimit }} ({{ endPoint|get:"10. change percent" }})</div>
                                {% endif %}
                            </div>
                            <div style="font-size: 13px;">as of {{endPoint|get:"07. latest trading day" }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-col">
                                <div class="profile-info-element">
                                    <div>Previous close</div>
                                    <div>{{ endPoint|get:"08. previous close"|decimalLimit }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Open</div>
                                    <div>{{ endPoint|get:"02. open"|decimalLimit }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Day's range</div>
                                    <div>{{ endPoint|get:"04. low"|decimalLimit }} - {{ endPoint|get:"03. high"|decimalLimit }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>52 week range</div>
                                    <div>{{ company.52WeekLow|decimalLimit }} - {{ company.52WeekHigh|decimalLimit }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Dividend Yield (%)</div>
                                    <div>{{ company.DividendYield|percentage|decimalLimit }}</div>
                                </div>
                            </div>
                            <div class="profile-info-col">
                                <div class="profile-info-element">
                                    <div>Market cap</div>
                                    <div>{{ company.MarketCapitalization|commas }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Volume</div>
                                    <div>{{ endPoint|get:"06. volume"|commas }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>PE Ratio</div>
                                    <div>{{ company.PERatio|decimalLimit }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>Forward PE</div>
                                    <div>{{ company.ForwardPE|decimalLimit }}</div>
                                </div>
                                <div class="profile-info-element">
                                    <div>EPS</div>
                                    <div>{{ company.EPS|decimalLimit }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-chart-container">
                        <div class="profile-chart-button-container">
                            <div id="profile-chart-button-5m" class="profile-chart-button">5m</div>
                            <div id="profile-chart-button-15m" class="profile-chart-button">15m</div>
                            <div id="profile-chart-button-30m" class="profile-chart-button">30m</div>
                            <div id="profile-chart-button-60m" class="profile-chart-button">60m</div>
                        </div>
                        <canvas id="chart" class="profile-chart">
                        </canvas>
                    </div>
                </div>
            </div>
            <!-- company filters -->
            <div class="filter">
                <a href="{% url 'Site:company-filter-page' company.Symbol 'relevancy' 1 %}" class="filter-element {{ filter|currentFilter:'relevancy' }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e2dddb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <path d="M3 12h1M12 3v1M20 12h1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7" />
                        <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" />
                        <line x1="9.7" y1="17" x2="14.3" y2="17" />
                    </svg>
                    <div>relevant</div>
                </a>
                <a href="{% url 'Site:company-filter-page' company.Symbol 'popularity' 1 %}" class="filter-element {{ filter|currentFilter:'popularity' }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e2dddb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <circle cx="12" cy="9" r="6" />
                        <polyline points="9 14.2 9 21 12 19 15 21 15 14.2" transform="rotate(-30 12 9)" />
                        <polyline points="9 14.2 9 21 12 19 15 21 15 14.2" transform="rotate(30 12 9)" />
                    </svg>
                    <div>popular</div>
                </a>
                <a href="{% url 'Site:company-filter-page' company.Symbol 'publishedAt' 1 %}" class="filter-element {{ filter|currentFilter:'publishedAt' }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e2dddb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                        <line x1="8" y1="8" x2="12" y2="8" />
                        <line x1="8" y1="12" x2="12" y2="12" />
                        <line x1="8" y1="16" x2="12" y2="16" />
                    </svg>
                    <div>newest</div>
                </a>
            </div>
            {% include 'Site/article.html' %}
            <div class="button-container">
                {% if page > 1 %}
                    <a href="{% url 'Site:company-filter-page' company.Symbol filter page|add:'-1' %}" class="btn">&lt Back</a>
                {% endif %}
                {% if page < articles.totalResults %}
                    <a href="{% url 'Site:company-filter-page' company.Symbol filter page|add:'1' %}" class="btn">Next &gt</a>
                {% endif %}
            </div>
        </div>
        <div class="col-2">
            <div class="watchlist-container"></div>
        </div>
    </div>
{% endblock %}