{% load custom_filters %}
{% block followed %}
    <div class="followed-container">
        <h3>Followed</h3>
        <table style="width:100%;">
            <tr>
                <th>Symbol</th>
                <th>Last price</th>
                <th>% Change</th>
            </tr>
            {% for symbol, follow in followedList.items %}
                <tr>
                    <td><a href="{% url 'Site:company' symbol %}">{{ symbol }}</a></td>
                    <td>{{ follow|get:'05. price'|decimalLimit }}</td>
                    {% if follow|get:'10. change percent'|first == '-' %}
                        <td class="red">{{ follow|get:'10. change percent' }}</td>
                    {% else %}
                        <td class="green">{{ follow|get:'10. change percent' }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}