{% extends 'base.html' %}

{% block navbar %}
    <!-- empty out the navbar instead of making a new base .html -->
{% endblock %}

{% block content %}
    <div class="sign-up-content">
        <a href="{% url 'Site:index'%}" class="logo">TradingNews</a>
        <div>
            <div class="sign-up-container">
                <h2>Sign up!</h2>
                <form method="post" class="sign-up-form-container">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="login-container">
                <h2>Already have an account?</h2>
                <a href="">Login</a>
            </div>
        </div>
    </div>
{% endblock %}